In [66]:
import pandas as pd
import os
import datetime

In [67]:
data = datetime.datetime.now()

In [68]:
colunas = [
    'Segmento',
    'País',
    'Produto',
    'Qtde de Unidades Vendidas',
    'Preço Unitário',
    'Valor Total',
    'Desconto',
    'Valor Total c/ Desconto',
    'Custo Total',
    'Lucro',
    'Data',
    'Mês',
    'Ano'
]
consolidado = pd.DataFrame(columns=colunas)

In [69]:
type(consolidado)

pandas.core.frame.DataFrame

In [70]:
consolidado

Empty DataFrame
Columns: [Segmento, País, Produto, Qtde de Unidades Vendidas, Preço Unitário, Valor Total, Desconto, Valor Total c/ Desconto, Custo Total, Lucro, Data, Mês, Ano]
Index: []

In [71]:
arquivos = os.listdir("./Documents/murilo/06 - Mao na Massa - Analise de Dados/06 - Mao na Massa - Analise de Dados/01 - Consolidador/planilhas/")

In [72]:
arquivos

['Governo-Alemanha.xlsx',
 'Governo-Canadá.xlsx',
 'Governo-Chile.xlsx',
 'Governo-EUA.xlsx',
 'Governo-França.xlsx',
 'Grandes empresas-Alemanha.xlsx',
 'Grandes empresas-Canadá.xlsx',
 'Grandes empresas-Chile.xlsx',
 'Grandes empresas-EUA.xlsx',
 'Grandes empresas-França.xlsx',
 'Médias empresas-Alemanha.xlsx',
 'Médias empresas-Canadá.xlsx',
 'Médias empresas-Chile.xlsx',
 'Médias empresas-EUA.xlsx',
 'Médias empresas-França.xlsx',
 'Pequenas empresas-Alemanha.xlsx',
 'Pequenas empresas-Canadá.xlsx',
 'Pequenas empresas-Chile.xlsx',
 'Pequenas empresas-EUA.xlsx',
 'Pequenas empresas-França.xlsx',
 'teste.txt',
 'Vendas online-Alemanha.xlsx',
 'Vendas online-Canadá.xlsx',
 'Vendas online-Chile.xlsx',
 'Vendas online-EUA.xlsx',
 'Vendas online-França.xlsx']

In [82]:
for excel in arquivos:
    if excel.endswith('.xlsx'):
        try:
            dados_arquivo = excel.split('-')
            segmento = dados_arquivo[0]
            pais = dados_arquivo[1].replace('.xlsx', '')
        
            df = pd.read_excel(f'./Documents/murilo/06 - Mao na Massa - Analise de Dados/06 - Mao na Massa - Analise de Dados/01 - Consolidador/planilhas/{excel}')
            df.insert(0, 'Segmento', segmento)
            df.insert(1, 'País', pais)        
            consolidado = pd.concat([consolidado, df])
        except:
            with open('log_erros.txt', 'w') as arquivo:
                arquivo.write(f'Erro ao tentar consolidar o arquivo {excel}.')
    else:
        with open('log_erros.txt', 'a') as arquivo:
            arquivo.write(f'O arquivo {excel} não é um arquivo Excel válido!\n')

In [83]:
consolidado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2100 entries, 0 to 19
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Segmento                   2100 non-null   object
 1   País                       2100 non-null   object
 2   Produto                    2100 non-null   object
 3   Qtde de Unidades Vendidas  2100 non-null   object
 4   Preço Unitário             2100 non-null   object
 5   Valor Total                2100 non-null   object
 6   Desconto                   2100 non-null   float64
 7   Valor Total c/ Desconto    2100 non-null   float64
 8   Custo Total                2100 non-null   float64
 9   Lucro                      2100 non-null   float64
 10  Data                       2100 non-null   datetime64[ns]
 11  Mês                        2100 non-null   object
 12  Ano                        2100 non-null   object
dtypes: datetime64[ns](1), float64(4), object(8)
memory usage: 229.7+ KB

In [84]:
consolidado.shape

(2100, 13)

In [85]:
consolidado.to_excel(
                     f"Report-consolidado-{data.strftime('%d-%m-%y')}.xlsx",
                     index=False,
                     sheet_name='Report consolidado'
                     )