In [22]:
import pandas as pd

In [29]:
 df = pd.read_csv('./Documents/murilo/02 - Biblioteca Pandas/02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/base_vendas.csv')

In [30]:
df.head()

,matricula_funcionario,Nome Funcionario,Cargo,codigo_loja,nome_loja,codigo_produto,descricao_produto,Categoria,preco_custo,valor_unitario,quantidade,comissao,dt_venda,dt_entrega
0,123456111,José Maria,Vendedor,CL001,Loja Matriz,10013,Fogão,Eletrodomésticos,"210,9","404,1",1,NaN,28/09/2020 16:19,05/10/2020 16:31
1,123456111,José Maria,Vendedor,CL001,Loja Matriz,10018,Colchão,Casa,"109,9","249,9",1,NaN,07/03/2020 12:47,08/03/2020 12:47
2,123456111,José Maria,Vendedor,CL001,Loja Matriz,10014,Geladeira,Eletrodomésticos,"699,9","1346,9",1,NaN,21/04/2019 10:48,23/04/2019 15:55
3,123456111,José Maria,Vendedor,CL001,Loja Matriz,10001,Smartphone,Eletrônicos,"899,9","1676,9",1,NaN,07/05/2020 17:59,08/05/2020 14:31
4,123456111,José Maria,Vendedor,CL001,Loja Matriz,10004,Máquina Lavar Roupa,Eletrodomésticos,1099,"1709,1",1,"0,05",14/08/2019 16:56,19/08/2019 15:52

In [31]:
df = pd.read_csv('./Documents/murilo/02 - Biblioteca Pandas/02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/base_vendas.csv')

In [32]:
df.head(20)

,matricula_funcionario,Nome Funcionario,Cargo,codigo_loja,nome_loja,codigo_produto,descricao_produto,Categoria,preco_custo,valor_unitario,quantidade,comissao,dt_venda,dt_entrega
0,123456111,José Maria,Vendedor,CL001,Loja Matriz,10013,Fogão,Eletrodomésticos,"210,9","404,1",1,NaN,28/09/2020 16:19,05/10/2020 16:31
1,123456111,José Maria,Vendedor,CL001,Loja Matriz,10018,Colchão,Casa,"109,9","249,9",1,NaN,07/03/2020 12:47,08/03/2020 12:47
2,123456111,José Maria,Vendedor,CL001,Loja Matriz,10014,Geladeira,Eletrodomésticos,"699,9","1346,9",1,NaN,21/04/2019 10:48,23/04/2019 15:55
3,123456111,José Maria,Vendedor,CL001,Loja Matriz,10001,Smartphone,Eletrônicos,"899,9","1676,9",1,NaN,07/05/2020 17:59,08/05/2020 14:31
4,123456111,José Maria,Vendedor,CL001,Loja Matriz,10004,Máquina Lavar Roupa,Eletrodomésticos,1099,"1709,1",1,"0,05",14/08/2019 16:56,19/08/2019 15:52
5,123456111,José Maria,Vendedor,CL001,Loja Matriz,10010,Fritadeira elétrica,Cozinha,"187,9",340,1,NaN,10/07/2019 15:11,11/07/2019 14:30
6,123456111,José Maria,Vendedor,CL001,Loja Matriz,10014,Geladeira,Eletrodomésticos,"699,9","1346,9",1,NaN,26/06/2019 11:03,28/06/2019 13:37
7,123456111,José Maria,Vendedor,CL001,Loja Matriz,10006,Aspirador de pó,Casa,"88,9","189,9",1,NaN,15/03/2020 13:00,16/03/2020 11:15
8,123456111,José Maria,Vendedor,CL001,Loja Matriz,10010,Fritadeira elétrica,Cozinha,"187,9",340,1,NaN,15/08/2020 11:36,15/08/2020 14:22
9,123456111,José Maria,Vendedor,CL001,Loja Matriz,10017,Cama Box,Casa,"1189,9","1899,5",1,NaN,06/03/2019 13:01,11/03/2019 12:01
10,123456111,José Maria,Vendedor,CL001,Loja Matriz,10003,Televisão,Eletrodomésticos,"1400,9","2279,99",1,NaN,11/10/2019 12:44,17/10/2019 14:58
11,123456111,José Maria,Vendedor,CL001,Loja Matriz,10004,Máquina Lavar Roupa,Eletrodomésticos,1099,"1709,1",1,"0,05",30/10/2019 17:22,03/11/2019 10:21
12,123456111,José Maria,Vendedor,CL001,Loja Matriz,10018,Colchão,Casa,"109,9","249,9",1,NaN,28/05/2020 16:00,29/05/2020 14:16
13,123456111,José Maria,Vendedor,CL001,Loja Matriz,10013,Fogão,Eletrodomésticos,"210,9","404,1",1,NaN,30/12/2019 15:07,04/01/2020 16:48
14,123456111,José Maria,Vendedor,CL001,Loja Matriz,10016,Guarda Roupa,Casa,"489,9",999,1,NaN,16/04/2019 09:22,23/04/2019 10:49
15,123456111,José Maria,Vendedor,CL001,Loja Matriz,10020,Impressora,Eletrônicos,"329,9","674,1",1,NaN,07/09/2019 15:29,08/09/2019 13:00
16,123456111,José Maria,Vendedor,CL001,Loja Matriz,10017,Cama Box,Casa,"1189,9","1899,5",1,NaN,18/03/2019 09:08,25/03/2019 15:58
17,123456111,José Maria,Vendedor,CL001,Loja Matriz,10008,Cafeteira,Cozinha,"159,9","284,9",1,NaN,28/01/2020 16:40,29/01/2020 11:59
18,123456111,José Maria,Vendedor,CL001,Loja Matriz,10015,Microondas,Eletrodomésticos,189,"364,5",1,NaN,30/10/2020 17:27,31/10/2020 14:16
19,123456111,José Maria,Vendedor,CL001,Loja Matriz,10016,Guarda Roupa,Casa,"489,9",999,1,NaN,23/10/2020 17:41,30/10/2020 09:27

In [37]:
df.tail()

,matricula_funcionario,Nome Funcionario,Cargo,codigo_loja,nome_loja,codigo_produto,descricao_produto,Categoria,preco_custo,valor_unitario,quantidade,comissao,dt_venda,dt_entrega
2995,123457113,Victor Hugo,Vendedor,CL004,Filial ES,10006,Aspirador de pó,Casa,"88,9","189,9",3,NaN,04/11/2019 15:40,05/11/2019 10:40
2996,123457113,Victor Hugo,Vendedor,CL004,Filial ES,10011,Liquidificador,Cozinha,"59,9","142,4",3,NaN,24/06/2019 09:04,24/06/2019 10:50
2997,123457113,Victor Hugo,Vendedor,CL004,Filial ES,10007,Batedeira,Cozinha,"49,9","95,9",3,NaN,08/08/2020 14:46,09/08/2020 14:07
2998,123457113,Victor Hugo,Vendedor,CL004,Filial ES,10010,Fritadeira elétrica,Cozinha,"187,9",340,3,NaN,19/12/2019 09:21,19/12/2019 10:51
2999,123457113,Victor Hugo,Vendedor,CL004,Filial ES,10004,Máquina Lavar Roupa,Eletrodomésticos,1099,"1709,1",3,"0,09",18/03/2019 15:40,23/03/2019 17:52

In [54]:
('./Documents/murilo/02 - Biblioteca Pandas/02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/base_vendas.csv')

'./Documents/murilo/02 - Biblioteca Pandas/02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/base_vendas.csv'

In [55]:
import pandas as pd

In [56]:
df = pd.read_json('./Documents/murilo/02 - Biblioteca Pandas/02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/base_vendas.json')

In [57]:
df.head()

,matricula_funcionario,Nome Funcionario,Cargo,codigo_loja,nome_loja,codigo_produto,descricao_produto,Categoria,preco_custo,valor_unitario,quantidade,comissao,dt_venda,dt_entrega
0,123456111,José Maria,Vendedor,CL001,Loja Matriz,10013,Fogão,Eletrodomésticos,"210,9","404,1",1,None,28/09/2020 16:19,05/10/2020 16:31
1,123456111,José Maria,Vendedor,CL001,Loja Matriz,10018,Colchão,Casa,"109,9","249,9",1,None,07/03/2020 12:47,08/03/2020 12:47
2,123456111,José Maria,Vendedor,CL001,Loja Matriz,10014,Geladeira,Eletrodomésticos,"699,9","1346,9",1,None,21/04/2019 10:48,23/04/2019 15:55
3,123456111,José Maria,Vendedor,CL001,Loja Matriz,10001,Smartphone,Eletrônicos,"899,9","1676,9",1,None,07/05/2020 17:59,08/05/2020 14:31
4,123456111,José Maria,Vendedor,CL001,Loja Matriz,10004,Máquina Lavar Roupa,Eletrodomésticos,1099,"1709,1",1,"0,05",14/08/2019 16:56,19/08/2019 15:52

In [58]:
import pandas as pd

In [59]:
df = pd.read_xml('./Documents/murilo/02 - Biblioteca Pandas/02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/base_vendas.xml')

In [60]:
df.head()

,index,matricula_funcionario,nome_funcionario,cargo,codigo_loja,nome_loja,codigo_produto,descricao_produto,categoria,preco_custo,valor_unitario,quantidade,comissao,dt_venda,dt_entrega
0,0,123456111,José Maria,Vendedor,CL001,Loja Matriz,10013,Fogão,Eletrodomésticos,"210,9","404,1",1,None,28/09/2020 16:19,05/10/2020 16:31
1,1,123456111,José Maria,Vendedor,CL001,Loja Matriz,10018,Colchão,Casa,"109,9","249,9",1,None,07/03/2020 12:47,08/03/2020 12:47
2,2,123456111,José Maria,Vendedor,CL001,Loja Matriz,10014,Geladeira,Eletrodomésticos,"699,9","1346,9",1,None,21/04/2019 10:48,23/04/2019 15:55
3,3,123456111,José Maria,Vendedor,CL001,Loja Matriz,10001,Smartphone,Eletrônicos,"899,9","1676,9",1,None,07/05/2020 17:59,08/05/2020 14:31
4,4,123456111,José Maria,Vendedor,CL001,Loja Matriz,10004,Máquina Lavar Roupa,Eletrodomésticos,1099,"1709,1",1,"0,05",14/08/2019 16:56,19/08/2019 15:52

In [61]:
import pandas as pd

In [62]:
df = pd.read_html('./Documents/murilo/02 - Biblioteca Pandas/02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/base_vendas.html')

In [67]:
type(list)

type