In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./Documents/murilo/02 - Biblioteca Pandas/02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/base_vendas.csv')

In [4]:
df.head

<bound method NDFrame.head of       matricula_funcionario Nome Funcionario     Cargo codigo_loja  \
0                 123456111       José Maria  Vendedor       CL001
1                 123456111       José Maria  Vendedor       CL001
2                 123456111       José Maria  Vendedor       CL001
3                 123456111       José Maria  Vendedor       CL001
4                 123456111       José Maria  Vendedor       CL001
...                     ...              ...       ...         ...
2995              123457113      Victor Hugo  Vendedor       CL004
2996              123457113      Victor Hugo  Vendedor       CL004
2997              123457113      Victor Hugo  Vendedor       CL004
2998              123457113      Victor Hugo  Vendedor       CL004
2999              123457113      Victor Hugo  Vendedor       CL004

        nome_loja  codigo_produto    descricao_produto         Categoria  \
0     Loja Matriz           10013                Fogão  Eletrodomésticos
1     Loja Matriz           10018              Colchão              Casa
2     Loja Matriz           10014            Geladeira  Eletrodomésticos
3     Loja Matriz           10001           Smartphone       Eletrônicos
4     Loja Matriz           10004  Máquina Lavar Roupa  Eletrodomésticos
...           ...             ...                  ...               ...
2995    Filial ES           10006      Aspirador de pó              Casa
2996    Filial ES           10011       Liquidificador           Cozinha
2997    Filial ES           10007            Batedeira           Cozinha
2998    Filial ES           10010  Fritadeira elétrica           Cozinha
2999    Filial ES           10004  Máquina Lavar Roupa  Eletrodomésticos

     preco_custo valor_unitario  quantidade comissao          dt_venda  \
0          210,9          404,1           1      NaN  28/09/2020 16:19
1          109,9          249,9           1      NaN  07/03/2020 12:47
2          699,9         1346,9           1      NaN  21/04/2019 10:48
3          899,9         1676,9           1      NaN  07/05/2020 17:59
4           1099         1709,1           1     0,05  14/08/2019 16:56
...          ...            ...         ...      ...               ...
2995        88,9          189,9           3      NaN  04/11/2019 15:40
2996        59,9          142,4           3      NaN  24/06/2019 09:04
2997        49,9           95,9           3      NaN  08/08/2020 14:46
2998       187,9            340           3      NaN  19/12/2019 09:21
2999        1099         1709,1           3     0,09  18/03/2019 15:40

            dt_entrega
0     05/10/2020 16:31
1     08/03/2020 12:47
2     23/04/2019 15:55
3     08/05/2020 14:31
4     19/08/2019 15:52
...                ...
2995  05/11/2019 10:40
2996  24/06/2019 10:50
2997  09/08/2020 14:07
2998  19/12/2019 10:51
2999  23/03/2019 17:52

[3000 rows x 14 columns]>

In [17]:
df['valor_unitario'] = df.valor_unitario.str.replace(',','.')
df['preco_custo'] = df.preco_custo.str.replace(',','.')

df.head

<bound method NDFrame.head of       matricula_funcionario Nome Funcionario     Cargo codigo_loja  \
0                 123456111       José Maria  Vendedor       CL001
1                 123456111       José Maria  Vendedor       CL001
2                 123456111       José Maria  Vendedor       CL001
3                 123456111       José Maria  Vendedor       CL001
4                 123456111       José Maria  Vendedor       CL001
...                     ...              ...       ...         ...
2995              123457113      Victor Hugo  Vendedor       CL004
2996              123457113      Victor Hugo  Vendedor       CL004
2997              123457113      Victor Hugo  Vendedor       CL004
2998              123457113      Victor Hugo  Vendedor       CL004
2999              123457113      Victor Hugo  Vendedor       CL004

        nome_loja  codigo_produto    descricao_produto         Categoria  \
0     Loja Matriz           10013                Fogão  Eletrodomésticos
1     Loja Matriz           10018              Colchão              Casa
2     Loja Matriz           10014            Geladeira  Eletrodomésticos
3     Loja Matriz           10001           Smartphone       Eletrônicos
4     Loja Matriz           10004  Máquina Lavar Roupa  Eletrodomésticos
...           ...             ...                  ...               ...
2995    Filial ES           10006      Aspirador de pó              Casa
2996    Filial ES           10011       Liquidificador           Cozinha
2997    Filial ES           10007            Batedeira           Cozinha
2998    Filial ES           10010  Fritadeira elétrica           Cozinha
2999    Filial ES           10004  Máquina Lavar Roupa  Eletrodomésticos

     preco_custo valor_unitario  quantidade comissao          dt_venda  \
0          404.1          404.1           1      NaN  28/09/2020 16:19
1          249.9          249.9           1      NaN  07/03/2020 12:47
2         1346.9         1346.9           1      NaN  21/04/2019 10:48
3         1676.9         1676.9           1      NaN  07/05/2020 17:59
4         1709.1         1709.1           1     0,05  14/08/2019 16:56
...          ...            ...         ...      ...               ...
2995       189.9          189.9           3      NaN  04/11/2019 15:40
2996       142.4          142.4           3      NaN  24/06/2019 09:04
2997        95.9           95.9           3      NaN  08/08/2020 14:46
2998         340            340           3      NaN  19/12/2019 09:21
2999      1709.1         1709.1           3     0,09  18/03/2019 15:40

            dt_entrega
0     05/10/2020 16:31
1     08/03/2020 12:47
2     23/04/2019 15:55
3     08/05/2020 14:31
4     19/08/2019 15:52
...                ...
2995  05/11/2019 10:40
2996  24/06/2019 10:50
2997  09/08/2020 14:07
2998  19/12/2019 10:51
2999  23/03/2019 17:52

[3000 rows x 14 columns]>

In [18]:
df = df.astype(
    {
        'valor_unitario': np.float64,
        'preco_custo': np.float64,
        'quantidade': np.int64
    }

)

In [19]:
df.isnull

<bound method DataFrame.isnull of       matricula_funcionario Nome Funcionario     Cargo codigo_loja  \
0                 123456111       José Maria  Vendedor       CL001
1                 123456111       José Maria  Vendedor       CL001
2                 123456111       José Maria  Vendedor       CL001
3                 123456111       José Maria  Vendedor       CL001
4                 123456111       José Maria  Vendedor       CL001
...                     ...              ...       ...         ...
2995              123457113      Victor Hugo  Vendedor       CL004
2996              123457113      Victor Hugo  Vendedor       CL004
2997              123457113      Victor Hugo  Vendedor       CL004
2998              123457113      Victor Hugo  Vendedor       CL004
2999              123457113      Victor Hugo  Vendedor       CL004

        nome_loja  codigo_produto    descricao_produto         Categoria  \
0     Loja Matriz           10013                Fogão  Eletrodomésticos
1     Loja Matriz           10018              Colchão              Casa
2     Loja Matriz           10014            Geladeira  Eletrodomésticos
3     Loja Matriz           10001           Smartphone       Eletrônicos
4     Loja Matriz           10004  Máquina Lavar Roupa  Eletrodomésticos
...           ...             ...                  ...               ...
2995    Filial ES           10006      Aspirador de pó              Casa
2996    Filial ES           10011       Liquidificador           Cozinha
2997    Filial ES           10007            Batedeira           Cozinha
2998    Filial ES           10010  Fritadeira elétrica           Cozinha
2999    Filial ES           10004  Máquina Lavar Roupa  Eletrodomésticos

      preco_custo  valor_unitario  quantidade comissao          dt_venda  \
0           404.1           404.1           1      NaN  28/09/2020 16:19
1           249.9           249.9           1      NaN  07/03/2020 12:47
2          1346.9          1346.9           1      NaN  21/04/2019 10:48
3          1676.9          1676.9           1      NaN  07/05/2020 17:59
4          1709.1          1709.1           1     0,05  14/08/2019 16:56
...           ...             ...         ...      ...               ...
2995        189.9           189.9           3      NaN  04/11/2019 15:40
2996        142.4           142.4           3      NaN  24/06/2019 09:04
2997         95.9            95.9           3      NaN  08/08/2020 14:46
2998        340.0           340.0           3      NaN  19/12/2019 09:21
2999       1709.1          1709.1           3     0,09  18/03/2019 15:40

            dt_entrega
0     05/10/2020 16:31
1     08/03/2020 12:47
2     23/04/2019 15:55
3     08/05/2020 14:31
4     19/08/2019 15:52
...                ...
2995  05/11/2019 10:40
2996  24/06/2019 10:50
2997  09/08/2020 14:07
2998  19/12/2019 10:51
2999  23/03/2019 17:52

[3000 rows x 14 columns]>

In [20]:
df.isnull().sum()

matricula_funcionario       0
Nome Funcionario            0
Cargo                       0
codigo_loja                 0
nome_loja                   0
codigo_produto              0
descricao_produto           0
Categoria                   0
preco_custo                 0
valor_unitario              0
quantidade                  0
comissao                 2841
dt_venda                    0
dt_entrega                  0
dtype: int64

In [21]:
df.info

<bound method DataFrame.info of       matricula_funcionario Nome Funcionario     Cargo codigo_loja  \
0                 123456111       José Maria  Vendedor       CL001
1                 123456111       José Maria  Vendedor       CL001
2                 123456111       José Maria  Vendedor       CL001
3                 123456111       José Maria  Vendedor       CL001
4                 123456111       José Maria  Vendedor       CL001
...                     ...              ...       ...         ...
2995              123457113      Victor Hugo  Vendedor       CL004
2996              123457113      Victor Hugo  Vendedor       CL004
2997              123457113      Victor Hugo  Vendedor       CL004
2998              123457113      Victor Hugo  Vendedor       CL004
2999              123457113      Victor Hugo  Vendedor       CL004

        nome_loja  codigo_produto    descricao_produto         Categoria  \
0     Loja Matriz           10013                Fogão  Eletrodomésticos
1     Loja Matriz           10018              Colchão              Casa
2     Loja Matriz           10014            Geladeira  Eletrodomésticos
3     Loja Matriz           10001           Smartphone       Eletrônicos
4     Loja Matriz           10004  Máquina Lavar Roupa  Eletrodomésticos
...           ...             ...                  ...               ...
2995    Filial ES           10006      Aspirador de pó              Casa
2996    Filial ES           10011       Liquidificador           Cozinha
2997    Filial ES           10007            Batedeira           Cozinha
2998    Filial ES           10010  Fritadeira elétrica           Cozinha
2999    Filial ES           10004  Máquina Lavar Roupa  Eletrodomésticos

      preco_custo  valor_unitario  quantidade comissao          dt_venda  \
0           404.1           404.1           1      NaN  28/09/2020 16:19
1           249.9           249.9           1      NaN  07/03/2020 12:47
2          1346.9          1346.9           1      NaN  21/04/2019 10:48
3          1676.9          1676.9           1      NaN  07/05/2020 17:59
4          1709.1          1709.1           1     0,05  14/08/2019 16:56
...           ...             ...         ...      ...               ...
2995        189.9           189.9           3      NaN  04/11/2019 15:40
2996        142.4           142.4           3      NaN  24/06/2019 09:04
2997         95.9            95.9           3      NaN  08/08/2020 14:46
2998        340.0           340.0           3      NaN  19/12/2019 09:21
2999       1709.1          1709.1           3     0,09  18/03/2019 15:40

            dt_entrega
0     05/10/2020 16:31
1     08/03/2020 12:47
2     23/04/2019 15:55
3     08/05/2020 14:31
4     19/08/2019 15:52
...                ...
2995  05/11/2019 10:40
2996  24/06/2019 10:50
2997  09/08/2020 14:07
2998  19/12/2019 10:51
2999  23/03/2019 17:52

[3000 rows x 14 columns]>

In [30]:
df['valor_total'] = df['valor_unitario'] * df['quantidade']

In [32]:
df.info

<bound method DataFrame.info of       matricula_funcionario Nome Funcionario     Cargo codigo_loja  \
0                 123456111       José Maria  Vendedor       CL001
1                 123456111       José Maria  Vendedor       CL001
2                 123456111       José Maria  Vendedor       CL001
3                 123456111       José Maria  Vendedor       CL001
4                 123456111       José Maria  Vendedor       CL001
...                     ...              ...       ...         ...
2995              123457113      Victor Hugo  Vendedor       CL004
2996              123457113      Victor Hugo  Vendedor       CL004
2997              123457113      Victor Hugo  Vendedor       CL004
2998              123457113      Victor Hugo  Vendedor       CL004
2999              123457113      Victor Hugo  Vendedor       CL004

        nome_loja  codigo_produto    descricao_produto         Categoria  \
0     Loja Matriz           10013                Fogão  Eletrodomésticos
1     Loja Matriz           10018              Colchão              Casa
2     Loja Matriz           10014            Geladeira  Eletrodomésticos
3     Loja Matriz           10001           Smartphone       Eletrônicos
4     Loja Matriz           10004  Máquina Lavar Roupa  Eletrodomésticos
...           ...             ...                  ...               ...
2995    Filial ES           10006      Aspirador de pó              Casa
2996    Filial ES           10011       Liquidificador           Cozinha
2997    Filial ES           10007            Batedeira           Cozinha
2998    Filial ES           10010  Fritadeira elétrica           Cozinha
2999    Filial ES           10004  Máquina Lavar Roupa  Eletrodomésticos

      preco_custo  valor_unitario  quantidade comissao          dt_venda  \
0           404.1           404.1           1      NaN  28/09/2020 16:19
1           249.9           249.9           1      NaN  07/03/2020 12:47
2          1346.9          1346.9           1      NaN  21/04/2019 10:48
3          1676.9          1676.9           1      NaN  07/05/2020 17:59
4          1709.1          1709.1           1     0,05  14/08/2019 16:56
...           ...             ...         ...      ...               ...
2995        189.9           189.9           3      NaN  04/11/2019 15:40
2996        142.4           142.4           3      NaN  24/06/2019 09:04
2997         95.9            95.9           3      NaN  08/08/2020 14:46
2998        340.0           340.0           3      NaN  19/12/2019 09:21
2999       1709.1          1709.1           3     0,09  18/03/2019 15:40

            dt_entrega  valor_total
0     05/10/2020 16:31        404.1
1     08/03/2020 12:47        249.9
2     23/04/2019 15:55       1346.9
3     08/05/2020 14:31       1676.9
4     19/08/2019 15:52       1709.1
...                ...          ...
2995  05/11/2019 10:40        569.7
2996  24/06/2019 10:50        427.2
2997  09/08/2020 14:07        287.7
2998  19/12/2019 10:51       1020.0
2999  23/03/2019 17:52       5127.3

[3000 rows x 15 columns]>

In [35]:
df.to_csv('base_dados_vendas_tradada.csv')